<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LogAlong.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>019CCD201E6DAF64002EF989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>019CCD361E6DAF65002EF989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B5EB3D1EF4AE62001EF3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B5EB4D1EF4AEC6001EF3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B5EB5C1EF4AF28001EF3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
